@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.niggur {
  font-family: 'Lobster', cursive;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

.blackCard {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  color: #FFFFFF;
  background-color: #2c2c2c;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.test1 {background-color: #269abc;}
.test2 {background-color: #3c763d}

.whiteCardItems {
  border-top: darkgray solid 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.alert {
  font-size: 16px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

a:.text-muted {
  color: #333;
}

footer {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}